---
import About from "../components/About.astro";
import Program from "../components/Program.astro";
import iconImage from "../assets/fairagro.ico";
import Location from "../components/Location.astro";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RDI Workshop</title>
  <link rel="icon" href={iconImage} type="image/x-icon" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
</head>
<body class="bg-light-gray dark:bg-black text-black dark:text-white font-sans">
  <header class="bg-teal dark:bg-teal text-white py-6 text-center shadow-lg">
    <div class="container mx-auto flex flex-col items-center">
      <h1 class="text-3xl font-bold flex items-center">
      <img
        src={iconImage}
        alt="FAIRagro Icon"
        class="inline-block w-10 h-10 mr-3"
      /> Middleware - RDI Workshop
    </h1>
    <p class="mt-2 text-lg">FAIRagro Measure 4.2 workshop</p>
    </div>
  </header>
  <div class="container mx-auto p-5 pb-20">
    <About />
    <Program />
    <Location
      address="Chausseestraße 111"
      city="10115, Berlin"
      country="Germany"
      mapSrc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13340.212368957287!2d13.383692653463354!3d52.52727676579079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851ecc019df9b%3A0xb80319b2b8cca8bd!2sLeibniz-Gemeinschaft!5e0!3m2!1sde!2sde!4v1738068512777!5m2!1sde!2sde"
    />
  </div>
  <footer class="bg-black dark:bg-teal text-white text-center py-4 fixed bottom-0 w-full">
    <div class="flex items-center justify-center">
      <img
        src={iconImage}
        alt="FAIRagro Icon"
        class="inline-block w-6 h-6 mr-2"
      />
      <p>© 2025 FAIRagrp - Measure 4.2 RDI Workshop. All rights reserved.</p>
    </div>
  </footer>
</body>
