---
import Cordinators from "./Cordinators.astro";
---

<section class="bg-light-gray p-5 rounded-lg shadow-md mb-5">
  <h2 class="text-teal text-2xl mb-3">About the Workshop</h2>
  <p class="text-lg text-black">
    Save the date:
    <strong class="text-lime">Septembre 8, 2025 12:00 to Septembre 9, 2025 13:00</strong>
  </p>
  <Cordinators />
</section>
