---
import userIcon from "../assets/user-icon.png";
import Person from "./Person.astro";
---

<section class="bg-light-gray dark:bg-dark-gray p-5 rounded-lg mb-5">
  <h2 class="text-teal dark:text-lime text-2xl mb-3">Coordinators</h2>
  <div class="flex flex-wrap gap-5">
    <Person name="Dr. Daniel Arend" email="daniel.arend@example.com" image={userIcon.src} />
    <Person name="Jorge Garcia Brizuela" email="jorge.garcia@example.com" image={userIcon.src} />
    <Person name="Carsten Scharfenberg" email="carsten.scharfenberg@example.com" image={userIcon.src} />
  </div>
</section>