---
import Placeholder from "./Placeholder.astro";

---

<section class="bg-light-gray dark:bg-dark-gray p-5 rounded-lg shadow-md mb-5 border border-gray-200">
  <h2 class="text-teal dark:text-lime text-2xl mb-3">Program</h2>
  <div class="text-black dark:text-white">
    <h3 class="text-xl mb-2">Day 1: 08.09.2024 (12:00–17:00)</h3>
    <p class="mb-1"><strong>12:00–12:30</strong>: Check-in</p>
    <p class="mb-1"><strong>12:30-12:45</strong>: Welcome & Introduction</p>
    <ul class="list-disc list-inside mb-3">
      <li>Brief overview of the workshop agenda and objectives.</li>
    </ul>
    <Placeholder/>
    
    <hr class="my-4 border-gray-300 dark:border-gray-700" />
    <h3 class="text-xl mb-2">Day 2: 09.09.2024 (9:00–13:00)</h3>
    <p class="mb-1"><strong>09:00–09:15</strong>: Morning Check-in</p>
    <ul class="list-disc list-inside mb-3">
      <li>Recap of Day 1 and goals for Day 2.</li>
    </ul>
    <p class="mb-1"><strong>12:00–12:15</strong>: Short Break</p>
    <p class="mb-1">
      <strong>12:15–13:00</strong>: Final Session: <em
        >[Wrap-Up or Closing Activity]</em>
    </p>
    <ul class="list-disc list-inside mb-3">
      <li>Reflection, feedback, and action planning.</li>
    </ul>
  </div>
</section>
